# IDE realm
# --------------------------------

.idea
.DS_Store


# Logging
# --------------------------------

**/*.log
**/*.err
*.xml


# Dependencies
# --------------------------------

node_modules
